# Database Configuration
DB_NAME = DB_Name
DB_HOST = DB_HOST
DB_USER = DB_USERNAME
DB_PASSWORD = YOUR_DB_PASSWORD
DB_PORT = DB_PORT

# Bot Configuration
BOT_TOKEN=YOUR_BOT_TOKEN
ADMIN_IDS= YOUR_ADMIN_LIST

# Redis Configuration
REDIS_DATABASE=1
REDIS_HOST=YOUR_REDIS_HOST
REDIS_PORT=YOUR_REDIS_PORT
REDIS_USERNAME=YOUR_REDIS_USERNAME
REDIS_PASSWORD=YOUR_REDIS_PASSWORD

# API Configuration
API_BASE_URL = API_BASE_URL
